
.treinamento-diario {
    height: 5%;
    background: #fff; 
    text-align: center; 
    color: black ;
}

.imagem1 {
    text-align: center;
    background: #fff;
}

.paragrafo{
    margin-left: 10px;
    margin-right: 10px;
    background: #fff;
    color: black;
}

.video {
    background: #3CA7F7;
    text-align: center; 
}

.checkbox {

}
