<ion-menu content-id="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <app-menu-list></app-menu-list>
  </ion-content>
</ion-menu>

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon class="menu" slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="treinamento-diario">
    <h2>Sono Diario</h2>
  </div>

  <div class="imagem1">
    <img
      src="../../../assets/image 4.svg"
      alt="cama">
  </div>

  <ion-list class="checkbox">
    <ion-item *ngFor="let entry of form1">
      <ion-label>{{entry.val}}</ion-label>
      <ion-checkbox slot="end"></ion-checkbox>
    </ion-item>
  </ion-list>


  <div class="paragrafo">

    <p>Dormir bem é algo fundamental, e são recomendadas 7-10 horas de sono diários para manter um bom padrão de saúde corporal e psicológica.</p>

    <div class="botao">
      <ion-button (click)="dicas()">

      <ng-container *ngIf="maisDicas">
        Menos Dicas              
      </ng-container>

      <ng-container *ngIf="!maisDicas">
        Mais Dicas             
      </ng-container>

      </ion-button>
    </div>

    <ng-container *ngIf="maisDicas">

      <p>Disciplina com o sono é indispensável, além de dormir bem, você deve estabelecer um horário para ir à cama e um horário para levantar-se, evitando mudanças no horário.</p>

      <p>Evite álcool e cafeína. Estas duas substâncias são inimigas do sono. O café deve ser evitado antes da hora do jantar. O álcool, por mais que te dê sono, é um efeito passageiro. Quando os níveis da substância começam a baixar durante a noite seu sono será afetado, e você pode acordar sem disposição e com variações de humor.</p>

      <p>Investir em seu sono também é importante, tente dormir com o máximo de conforto que puder, pois além de dormir bastante, você deve dormir confortável.</p>

      <p>Tente desenvolver uma rotina de desaceleração. Uns 30 ou 20 minutos antes de dormir se desligue de equipamentos eletrônicos e lugares barulhentos. Músicas calmas em volume baixo e uma leitura são ótimos companheiros nesta hora. Mas deixe de lado tabletes ou smartphones que emitem luz. Um livro impresso é recomendado.</p>
    
    </ng-container>

  </div>

</ion-content>
