<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      elemento-cabeçalho
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">



</ion-content> -->
<ion-app>
  <ion-menu content-id="main-content">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <app-menu-list></app-menu-list>
    </ion-content>
  </ion-menu>

  <ion-page class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-toggle>
            <ion-button>
              <ion-icon class="menu" slot="icon-only" name="menu"></ion-icon>
            </ion-button>
          </ion-menu-toggle>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <div class="contagem-diaria">
        <p>2 dias consecultivos</p>
      </div>
      <div class="caixa-frase-do-dia">

        <div class="frase-do-dia">
          <h2>Frase do dia</h2>
          <p>A desigualdade social é fascinante, seres humanos tolos e fracos de um lado, e Sukuna do outro.”</p>
          <div class="autor">
            <p>Platão</p>
            <p>Filósofo</p>
          </div>
        </div>
      </div>
      <div class=treinamento-diario>

        <app-buttom-home> </app-buttom-home>
      </div>
    </ion-content>
  </ion-page>
</ion-app>

<!-- <ion-menu-controller></ion-menu-controller> -->
