<ion-menu content-id="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <app-menu-list></app-menu-list>
  </ion-content>
</ion-menu>

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon class="menu" slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="treinamento-diario">
    <h2>Alimentação Diária</h2>
  </div>

  <div class="imagem1">
    <img
      src="../../../assets/image 2.svg"
      alt="Alimento">
  </div>

  <ion-list class="checkbox">
    <ion-item *ngFor="let entry of form1">
      <ion-label>{{entry.val}}</ion-label>
      <ion-checkbox slot="end"></ion-checkbox>
    </ion-item>
  </ion-list>


  <div class="paragrafo">
    <h2>Primeira opção</h2>
    <p>1 porção de fruta (dê preferência às frutas da época, já que são mais econômicas, nutritivas e sustentáveis) com um pouco de chia e gérmen de trigo: esta opção é uma ótima alternativa para compor um pré-treino, pois é rica em magnésio, mineral essencial para a produção de energia;</p>
      <p>1 copo de iogurte natural ou 1 copo de leite semidesnatado com mel;
      1 sanduíche de pão francês ou pão de forma ou torradas (integrais) com ovos cozidos, mexidos ou poché, cenoura ralada, tomate picadinho e um fio de azeite extravirgem </p>
    <h2>Segunda opção</h2>
    <p>1 batata doce média ou 1 pedaço de aipim médio ou 1 pedaço de inhame cozido com um fio de azeite extravirgem e ervas aromáticas (alecrim, manjericão);</p>
      <p>2 fatias médias de queijo muçarela, minas ou canastra com temperos naturais (alho, orégano e açafrão);
      1 copo de limonada batida com beterraba</p>
    <h2>Terceira opção</h2>
    <p>1 xícara de café com leite semidesnatado ou “leite de inhame” (1 inhame cozido com 2 copos de água);
      1 crepioca (2 ovos batidos misturados com 1 colher de sopa de massa para tapioca + 2 colheres de sopa de gérmen de trigo); .</p>
  </div>


</ion-content>
